

.bi {
    color: white;
}




nav-link {
    color: white;
    
}





.row {
    margin-left: 50px;
}

.card {
    margin-bottom: 40px;
}








.grey-text {
    color: white !important;
}





.container {
    margin-bottom: 0px !important;
}



div {
    display: block;
}
