
@{
    ViewData["Title"] = "contcs";
}

<h2 class="tit">Contact us</h2>

<nav class="data">


    In order for you to receive a quick and efficient response, you can contact us at any time by email:

    <br>

    <a href="mailto:Ladiesandgentlemen@gmail.com" target="_blank">Ladiesandgentlemen@gmail.com</a>
    <br>



    The operating times of the customer service team are:

    <br>
    Sunday-Thursday between the hours: 08:00-20:00
    <br>
    fridays and holiday eves between the hours 08:00-13:00.
    <br>
    Our customer service team is also available in direct chat on the website, by phone 03-5568111 or in the following
    form:

    <br>




    <h2>
        contact information
    </h2>

    <label>name</label>
    <br>

    <input title="name" value="" type="text">
    </div>
    <div class="tev">
        <div></div>
        <label>E-mail</label>
        <div></div>
        <input name="email" title="E-mail" value="" type="text">


        <div></div>

        <label>phone</label>
        <div></div>
        <input name="telephone" title="phone" value="" type="text">

        <div></div>

        <label>message</label>
        <div></div>
        <textarea name="comment" title="message" cols="50" rows="3"></textarea>






        <button type="submit" title="Send"><span><span>Send</span></span></button>
    </div>
    <div class="picture1">
        <img src="https://scontent.fsdv4-1.fna.fbcdn.net/v/t1.0-9/47680836_10210270211271734_560922801872044032_n.jpg?_nc_cat=102&ccb=2&_nc_sid=8bfeb9&_nc_ohc=gY2nHL0L_9MAX-SPxwI&_nc_ht=scontent.fsdv4-1.fna&oh=42910a52afd4050aab733515341b981f&oe=601B0694" class="d-block w-100">
    </div>
    <div class="picture2">
        <img src="https://scontent.fsdv4-1.fna.fbcdn.net/v/t1.0-9/46812941_10210213275288370_7733072750838808576_n.jpg?_nc_cat=110&ccb=2&_nc_sid=8bfeb9&_nc_ohc=fvOZ1meESx8AX_Qvh-m&_nc_ht=scontent.fsdv4-1.fna&oh=a8a8e87f5396c9ed91ed8bb6503a7bcb&oe=601BCC69" class="d-block w-100">
    </div>
    <div class="picture3">
        <img src="https://scontent.fsdv4-1.fna.fbcdn.net/v/t1.0-9/48393067_10210339798251365_7249770010984316928_n.jpg?_nc_cat=106&ccb=2&_nc_sid=8bfeb9&_nc_ohc=Dz_0AVxr_OIAX_YqH0w&_nc_ht=scontent.fsdv4-1.fna&oh=c78f89e05c77c872d1bb638e2dcb11ca&oe=601A0B28" class="d-block w-100">
    </div>
    <div class="picture4">
        <img src="https://scontent.fsdv4-1.fna.fbcdn.net/v/t1.0-9/47579741_10210270215191832_7451779927986143232_n.jpg?_nc_cat=109&ccb=2&_nc_sid=8bfeb9&_nc_ohc=xH0UIpIEKPMAX884oO8&_nc_ht=scontent.fsdv4-1.fna&oh=3354d97c138bdfe64ea4f3372be06f6d&oe=601C97AF" class="d-block w-100">
    </div>

    </div>
</nav>

@section Css{
    <link rel="stylesheet" href="~/css/contcs.css" />
}
