
@{
    ViewData["Title"] = "sending";
}

@*<div class="titel">
        <h1 class="tit">Deliveries</h1>

    </div>*@


<div class="container">
    <div class="row">

        <div class="row ab">
            <br> <br>
            <div class="tra">
                <img src="~/photo/travel.PNG" width="1100" height="290">
            </div>
            <input type="text" hidden> The products are delivered through a courier / collection company from the store

            The shipping options and the amount of the shipping fee will appear at the end of the order process and will be
            charged at the time of payment.

            Courier Company - The order will arrive at its destination within 2-4 business days, the courier company will
            contact the customer for prior arrangement.

            Business days are: Sunday, Monday, Tuesday, Wednesday, Thursday. | Friday - Saturday and holiday eves or half
            days
            are not business days.

            The company will not be responsible for delays of the various shipping companies. Please note that during sale
            periods and in November, there may be delays in deliveries


            Cancellation of transaction and product return / exchange policy

            Cancellation of a transaction in accordance with the Consumer Protection (Cancellation of a Transaction)
            Regulations, 2010 and the Consumer Protection Law, 5741-1981 ″


            Cancellation before sending the product to the customer does not involve an additional charge, the cost of the
            order
            plus the shipping fee will be refunded to the customer in full. In the event of cancellation of an order sent to
            the
            courier company, a full charge will be made for the cost of shipping.

            In case of cancellation of a transaction after the product has been sent to the customer, the customer must make
            a
            return in one of the following ways: return to the store or return by courier to the house. If you are
            interested in
            returning or exchanging an item, please contact us at contact@newyorkshop.co.il

            The email must be sent with: your name, order number, item / s that you would like to return / exchange and
            indicate
            whether you are interested in an exchange / financial credit.

            In case of exchange - make a new order on the site with the item you want on the spot or in addition and write
            in
            the comments of the new order "returns items from a previous order" (in this case we will charge you the cost of
            shipping a regular order).

            In the case of return by courier - a courier will arrive to collect the items within 2-4 business days, when the
            cost is 35 NIS and it will be deducted from the item value. (The credit will be less the cost of the courier
            which
            is 35 NIS).

            If a customer wants to make an exchange, she can do so within 14 days of receiving it.

            If a customer wants to receive a cash credit, she can do so within 48 days of receiving it.

            * Refund is conditional on the cost of the item (single item) being over NIS 50.

            * Products sold on sale / price reduction - can be returned up to 7 business days.

            The credit can be obtained at chain stores or after the items arrive back from the courier company (usually
            about 7
            business days).

            The credit will be given only on the cost of the item and not on the shipping cost

            Credits will be processed up to 14 business days, once we make the credit, we will update you by email.

            If a purchase is made of an item that participates in a certain discount / benefit, the credit will be deducted
            from
            the benefit value.

            Jewelry and cosmetics are not refundable or exchangeable at all.

            The management of the site / branch will have the sole discretion regarding the condition of the returned
            product.

        </div>
    </div>
</div>

<div class="w3-content w3-section">
    <img class="mySlides w3-animate-bottom" src="https://scontent.fsdv4-1.fna.fbcdn.net/v/t1.0-9/60451371_10211112302643492_2257947445189148672_n.jpg?_nc_cat=107&ccb=2&_nc_sid=8bfeb9&_nc_ohc=iF8S3pxA4U0AX9IStf3&_nc_ht=scontent.fsdv4-1.fna&oh=f40af85d2cf50d350f76acec6e3aaef4&oe=6024DF59">
    <img class="mySlides w3-animate-top" src="https://scontent.fsdv4-1.fna.fbcdn.net/v/t1.0-9/60483514_10211117742939496_7799918616811405312_n.jpg?_nc_cat=104&ccb=2&_nc_sid=8bfeb9&_nc_ohc=G9-NFuCV0Z4AX-5QmpO&_nc_ht=scontent.fsdv4-1.fna&oh=5ab772ad69a0d67770beb61840d8a8c5&oe=6022AB10">
    <img class="mySlides w3-animate-bottom" src="https://scontent.fsdv4-1.fna.fbcdn.net/v/t1.0-9/61121796_10211153545874547_4532497438648303616_n.jpg?_nc_cat=110&ccb=2&_nc_sid=8bfeb9&_nc_ohc=KQDFXCa1s9MAX9k3c1q&_nc_ht=scontent.fsdv4-1.fna&oh=51305a784d5e2543f2c6381529267f66&oe=60233E57" ">
</div>
<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 2500);
}
</script>


@section Css{
    <link rel="stylesheet" href="~/css/sending.css" />
}

