@model LadiesAndGentlemen.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Your Order</h1>

<h4>Order Details:</h4>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
